.wrapper {
  max-width: 65ch;
  margin: 0 auto;
  padding: $grid;

  @include media-query(medium) {
    padding: $grid * 2;
  }

  @include media-query(large) {
    padding: $grid * 2 $grid * 2 $grid * 4;
  }
}
