.container {
  border-bottom: 1px solid var(--color--highlight-red);
  padding-bottom: $grid;
  margin-bottom: $grid;

  @include media-query(medium) {
    padding-bottom: $grid * 2;
    margin-bottom: $grid * 2;
  }

  &:last-child {
    border-bottom: none;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: $grid / 2;

  @include media-query(medium) {
    flex-direction: row;
    gap: $grid;
  }
}

.title {
  @include highlight-link();
  @include font-size(m);
  font-weight: 500;
  color: black;
  margin-bottom: 0;
}

.published {
  @include font-size(s);
  margin-bottom: 0;
}

.description {
  @include font-size(s);
  margin: 0;
}

.tagContainer {
  @include font-size(xs);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
  margin-top: 12px;
}

.tag {
  @include font-size(xs);
  display: inline-block;
  padding: 2px 8px;
  background-color: var(--color--disabled-red);
  color: var(--color--primary);
  border-radius: $border-radius;
}

.duration {
  @include font-size(xs);
  display: inline-block;
}

.metadata {
  display: flex;
  align-items: baseline;
  gap: $grid;
}
