@forward 'normalize.scss';

:root {
  // Base colors
  // https://coolors.co/palette/fff7f7-620101-363535-855555-221c1c-161212
  // https://abc.useallfive.com/?colors[]=FFF7F7,620101,C76565,EB8B8B,F0C4C4,363535,855555,221C1C,161212
  --color--white: #fff7f7;
  --color--dark-red: #620101;
  --color--underline-red: #c76565;
  --color--highlight-red: #eb8b8b;
  --color--disabled-red: #f0c4c4;
  --color--dark-grey: #363535;
  --color--red: #855555;
  --color--midnight: #221c1c;
  --color--black: #161212;

  // Theme colors
  --color--primary: var(--color--dark-red);
  --color--text: var(--color--midnight);
  --color--text-grey: var(--color--dark-grey);
  --color--link: var(--color--primary);
  --color--underline: var(--color--underline-red);
  --color--hover: var(--color--black);
  --color--background: var(--color--white);

  accent-color: var(--color--primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  color: var(--color--text);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto !important;
  }
}

body {
  @include font-size(s);
  overflow-x: hidden;
  background-color: var(--color--white);
  font-variant-ligatures: none;

  &.no-scroll {
    overflow-y: hidden;
  }
}

hr {
  margin: $grid * 2 0;
}

// Prevent empty space below images appearing
img,
svg {
  vertical-align: top;
}

// Responsive images
img {
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

iframe {
  margin-top: 10px;
  margin-bottom: 30px;
}

a {
  color: var(--color--link);
  text-decoration: underline;
  transition: color $transition;

  &:hover {
    color: var(--color--hover);
    cursor: pointer;
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 30px;
  list-style-type: square;
}

li > p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @include heading-text();
}

html,
.body-text {
  @include body-text();
}

// Default sizes
h1 {
  @include font-size(xl);
  font-weight: $weight--semibold;
  margin: 0 0 math.div($gutter, 2);
  color: var(--color--text);
  line-height: 1.1;
}

h2 {
  @include font-size(l);
  font-weight: $weight--heavy;
  margin: $grid * 2 0 $grid 0;
  color: var(--color--text);

  @include media-query(large) {
    margin: $grid * 3 0 $grid 0;
  }
}

h3,
h4,
.heading--3,
.heading--4 {
  @include font-size(m);
  font-weight: $weight--bold;
  margin: ($gutter * 3) 0 math.div($gutter, 2);
  color: var(--color--dark-indigo);
}

h5,
h6,
.heading--5,
.heading--6 {
  @include font-size(m);
}

small {
  @include font-size(xxs);
}

p {
  margin: 0 0 ($gutter * 1.5);
  color: var(--color--text);
  max-width: 60ch;
}

b,
strong {
  font-weight: $weight--bold;
}

.strong-black {
  font-weight: $weight--heavy;
}

i,
blockquote {
  font-style: italic;
}
